<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Test App</title>

    <!-- Compiled and minified CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "node_modules/materialize-css/dist/css/materialize.min.css" %}">
    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/materialize-css/dist/js/materialize.min.js" %}"></script>
    <script src="{% static "modernizr.js" %}"></script>
    <script src="{% static "node_modules/angular/angular.min.js" %}"></script>
    <script src="{% static "node_modules/angular-touch/angular-touch.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/MainController.js" %}"></script>

    <style type="text/css">
        img {
            -webkit-user-select:none;
            -webkit-touch-callout:none;
        }

        i {
            -webkit-user-select:none;
            -webkit-touch-callout:none;
        }

        button {
            -webkit-user-select:none;
            -webkit-touch-callout:none;
        }

        .mobilemode .col.s6 > .btn {
            width: 100%;
            margin-bottom: 5px;
        }
    </style>
</head>
<body class="container" ng-app="app" ng-controller="MainController as controller">
    <main class="container">
        <div ng-hide="controller.isItMobile">
            <h1><img style="height:100px;width:auto;margin-bottom:-30px" src="https://raw.githubusercontent.com/ServiceStack/Assets/master/img/livedemos/techstacks/django-logo.png" alt=""> This should work??</h1>

            <button ng-mousedown="controller.moveArm('left')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Left</button>
            <button ng-mousedown="controller.moveArm('right')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Right</button>
            <button ng-mousedown="controller.moveArm('up')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Up</button>
            <button ng-mousedown="controller.moveArm('down')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Down</button>
            <button ng-mousedown="controller.moveArm('elbowup')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Elbow Up</button>
            <button ng-mousedown="controller.moveArm('elbowdown')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Elbow Down</button>
            <button ng-mousedown="controller.moveArm('wristup')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Wrist Up</button>
            <button ng-mousedown="controller.moveArm('wristdown')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Move Wrist Down</button>
            <button ng-mousedown="controller.moveArm('gripopen')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Grip Open</button>
            <button ng-mousedown="controller.moveArm('gripclose')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Grip Close</button>
            <button ng-mousedown="controller.moveArm('lighton')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Light On</button>
            <button ng-mousedown="controller.moveArm('lightoff')" ng-mouseup="controller.moveArm('stop')" class="btn waves-effect waves-light">Light Off</button>
        </div>

        <div ng-show="controller.isItMobile" class="mobilemode">
            <img style="width:100%;height:auto;margin-bottom:-30px" src="https://raw.githubusercontent.com/ServiceStack/Assets/master/img/livedemos/techstacks/django-logo.png" alt="">
            <br />
            <div class="row">
                <div class="col s6">
                    <button my-touchstart="controller.moveArm('left')"  my-touchend="controller.moveArm('stop')"  class="btn waves-effect waves-light deep-purple darken-3">Move Left</button>
                    <button my-touchstart="controller.moveArm('up')" my-touchend="controller.moveArm('stop')"  class="btn waves-effect waves-light deep-purple darken-3">Move Up</button>
                    <button my-touchstart="controller.moveArm('elbowup')"  my-touchend="controller.moveArm('stop')" class="btn waves-effect waves-light deep-purple darken-3">Move Elbow Up</button>
                    <button my-touchstart="controller.moveArm('wristup')"  my-touchend="controller.moveArm('stop')"  class="btn waves-effect waves-light deep-purple darken-3">Move Wrist Up</button>
                    <button my-touchstart="controller.moveArm('gripopen')"  my-touchend="controller.moveArm('stop')" class="btn waves-effect waves-light deep-purple darken-3">Grip Open</button>
                    <button my-touchstart="controller.moveArm('lighton')"  my-touchend="controller.moveArm('stop')" class="btn waves-effect waves-light deep-purple darken-3">Light On</button>
                    <button my-touchstart="controller.moveArm('forwards')"  my-touchend="controller.moveArm('stop')" class="btn waves-effect waves-light deep-purple darken-3">Forwards</button>
                </div>
                <div class="col s6">
                    <button my-touchstart="controller.moveArm('right')" my-touchend="controller.moveArm('stop')"  class="btn waves-effect waves-light deep-purple darken-3">Move Right</button>
                    <button my-touchstart="controller.moveArm('down')"  my-touchend="controller.moveArm('stop')" class="btn waves-effect waves-light deep-purple darken-3">Move Down</button>
                    <button my-touchstart="controller.moveArm('elbowdown')"  my-touchend="controller.moveArm('stop')"  class="btn waves-effect waves-light deep-purple darken-3">Move Elbow Down</button>
                    <button my-touchstart="controller.moveArm('wristdown')"  my-touchend="controller.moveArm('stop')"  class="btn waves-effect waves-light deep-purple darken-3">Move Wrist Down</button>
                    <button my-touchstart="controller.moveArm('gripclose')"  my-touchend="controller.moveArm('stop')"  class="btn waves-effect waves-light deep-purple darken-3">Grip Close</button>
                    <button my-touchstart="controller.moveArm('lightoff')"  my-touchend="controller.moveArm('stop')" class="btn waves-effect waves-light deep-purple darken-3">Light Off</button>
                    <button my-touchstart="controller.moveArm('backwards')"  my-touchend="controller.moveArm('stop')" class="btn waves-effect waves-light deep-purple darken-3">Backwards</button>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>